{% extends 'oscar/dashboard/orders/order_detail.html' %}

{% load i18n %}
{% load currency_filters %}

{% block order_information %}
    <table class="table table-striped table-bordered table-hover">
        <caption><i class="icon-shopping-cart icon-large"></i>{% trans "Order information" %}</caption>
        <tr>
            <th>{% trans "Order Total" %}</th>
            <th>{% trans "Date of purchase" %}</th>
            <th>{% trans "Time of purchase" %}</th>
            <th>{% trans "Status" %}</th>
        </tr>
        <tr>
            <td>
              {{ order.total_incl_tax|currency:order.currency }}
              {% if not order.is_in_default_currency %}
                  ({{ order.total_incl_tax_in_default_currency|currency }})
              {% endif %}
            </td>
            <td>{{ order.date_placed|date }}</td>
            <td>{{ order.date_placed|time }}</td>
            <td>{{ order.status|default:"N/A" }}</td>
        </tr>
    </table>
{% endblock order_information %}

{% block order_lines %}
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th>{% trans "Line ID" %}</th>
                <th>{% trans "Quantity" %}</th>
                <th>{% trans "Product" %}</th>
                <th>{% trans "UPC" %}</th>
                <th>{% trans "Status" %}</th>
                <th>{% trans "Supplier" %}</th>
                <th>{% trans "Supplier SKU" %}</th>
                <th>{% trans "Est. dispatch date" %}</th>
                <th>{% trans "Price excl tax (before discounts)" %}</th>
                <th>{% trans "Price inc tax (before discounts)" %}</th>
                <th>{% trans "Actions" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for line in lines %}
                <tr>
                    <td>
                        <input type="checkbox" name="selected_line" value="{{ line.id }}" />
                    </td>
                    <td>
                        <input type="text" name="selected_line_qty_{{ line.id }}" value="{{ line.quantity }}" size="2" style="width:40px" />
                    </td>
                    <td><a href="{% url 'dashboard:order-line-detail' number=order.number line_id=line.id %}">#{{ line.id }}</a></td>
                    <td>{{ line.quantity }}</td>
                    <td>
                        {% if line.product %}
                            <a href="{% url 'dashboard:catalogue-product' pk=line.product.id %}">{{ line.title }}</a>
                        {% else %}
                            {{ line.title }}
                        {% endif %}
                    </td>
                    <td>{{ line.upc|default:"-" }}</td>
                    <td>{{ line.status|default:"-" }}</td>
                    <td>
                        {% if line.partner %}
                            <a href="{% url 'dashboard:partner-manage' pk=line.partner.id %}">{{ line.partner_name }}</a>
                        {% else %}
                            {{ line.partner_name }}
                        {% endif %}
                    </td>
                    <td>{{ line.partner_sku }}</td>
                    <td>{{ line.est_dispatch_date|default:"-" }}</td>
                    <td class="text-right">{{ line.line_price_before_discounts_excl_tax|currency:order.currency }}</td>
                    <td class="text-right">{{ line.line_price_before_discounts_incl_tax|currency:order.currency }}</td>
                    <td>
                        <a href="{% url 'dashboard:order-line-detail' number=order.number line_id=line.id %}" class="btn btn-info">{% trans "View" %}</a>
                    </td>
                </tr>
            {% endfor %}

            <tr>
                <td colspan="9"></td>
                <th>{% trans "Discount" %}</th>
                <td class="text-right">{{ order.total_discount_excl_tax|currency:order.currency }}</td>
                <td class="text-right">{{ order.total_discount_incl_tax|currency:order.currency }}</td>
                <td></td>
            </tr>
            {% with discounts=order.basket_discounts %}
                {% if discounts %}
                    <tr>
                        <td colspan="9"></td>
                        <th>{% trans "Basket total (excl. discounts)" %}</th>
                        <td class="text-right">{{ order.basket_total_before_discounts_excl_tax|currency:order.currency }}</td>
                        <td class="text-right">{{ order.basket_total_before_discounts_incl_tax|currency:order.currency }}</td>
                        <td></td>
                    </tr>
                    {% for discount in discounts %}
                        <tr>
                            <td colspan="9"></td>
                            <td>
                                <span class="label label-success">{% trans "Discount" %}</span>
                                {{ discount.offer_name }}
                            </td>
                            <td class="text-right"></td>
                            <td class="text-right">- {{ discount.amount|currency:order.currency }}</td>
                            <td></td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="9"></td>
                        <th>{% trans "Basket total (inc. discounts)" %}</th>
                        <th class="text-right">{{ order.basket_total_excl_tax|currency:order.currency }}</th>
                        <th class="text-right">{{ order.basket_total_incl_tax|currency:order.currency }}</th>
                        <td></td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="9"></td>
                        <th>{% trans "Basket total" %}</th>
                        <th class="text-right">{{ order.basket_total_excl_tax|currency:order.currency }}</th>
                        <th class="text-right">{{ order.basket_total_incl_tax|currency:order.currency }}</th>
                        <td></td>
                    </tr>
                {% endif %}
            {% endwith %}

            {% if order.has_shipping_discounts %}
                <tr>
                    <td colspan="9"></td>
                    <td>{% trans "Shipping total (excl. discounts)" %}</td>
                    <td class="text-right">{{ order.shipping_before_discounts_excl_tax|currency:order.currency }}</td>
                    <td class="text-right">{{ order.shipping_before_discounts_incl_tax|currency:order.currency }}</td>
                    <td></td>
                </tr>
                {% for discount in order.shipping_discounts %}
                    <tr>
                        <td colspan="9"></td>
                        <td>
                            <span class="label label-success">{% trans "Discount" %}</span>
                            {{ discount.offer_name }}
                        </td>
                        <td></td>
                        <td class="text-right">- {{ discount.amount|currency:order.currency }}</td>
                        <td></td>
                    </tr>
                {% endfor %}
                <tr>
                    <td colspan="9"></td>
                    <th>{% trans "Shipping total (inc. discounts)" %}</th>
                    <th class="text-right">{{ order.shipping_excl_tax|currency:order.currency }}</th>
                    <th class="text-right">{{ order.shipping_incl_tax|currency:order.currency }}</th>
                    <td></td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="9"></td>
                    <th>{% trans "Shipping total" %}</th>
                    <th class="text-right">
                      {{ order.shipping_excl_tax|currency:order.currency }}
                      {% if not order.is_in_default_currency %}
                          ({{ order.shipping_excl_tax_in_default_currency|currency }})
                      {% endif %}
                    </th>
                    <th class="text-right">
                      {{ order.shipping_incl_tax|currency:order.currency }}
                      {% if not order.is_in_default_currency %}
                          ({{ order.shipping_incl_tax_in_default_currency|currency }})
                      {% endif %}
                    </th>
                    <td></td>
                </tr>
            {% endif %}

            <tr>
                <td colspan="9"></td>
                <th>{% trans "Order total" %}</th>
                <th class="text-right">
                  {{ order.total_excl_tax|currency:order.currency }}
                  {% if not order.is_in_default_currency %}
                      ({{ order.total_excl_tax_in_default_currency|currency }})
                  {% endif %}
                </th>
                <th class="text-right">
                  {{ order.total_incl_tax|currency:order.currency }}
                  {% if not order.is_in_default_currency %}
                      ({{ order.total_incl_tax_in_default_currency|currency }})
                  {% endif %}
                </th>
                <td></td>
            </tr>
        </tbody>
    </table>
{% endblock order_lines %}